.About-snippet {
  padding: 2rem;
  width: 70%;
  margin: 20px auto;
}
.snippet-text h2 {
  font-size: 2.5rem;
  color: #0d1534;
}
.snippet-text p {
  color: #4b5058;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 15px;
}
.smiley {
  margin-left: 8px;
}
.about-link {
  margin: 2.5rem 0;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  box-shadow: 0 0 10px 1.5px #0550737a;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0d1534;
  background-color: #087eb41a;
}
.about:hover {
  background-color: #087eb4;
  color: white;
  transition: 0.1s;
}

/* about page */
.about-container {
  padding: 2rem;
}
.about-container h2 {
  font-size: 1.7rem;
  color: #0d1534;
  margin-bottom: 2.5rem;
}
.miriam-image {
  width: 300px;
  border-radius: 10px;
  /* height: 400px; */
}
/* .about-image {
  height: 300px;
} */
.about-text p {
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 1.5rem 0;
  color: #3b3f46;
}
.about-text {
  width: 80%;
}
.about-flex {
  display: flex;
  /* justify-content: space-between; */
  gap: 3.75rem;
}
.skills-list > div {
  box-shadow: 0 0 10px 4px #087eb419;
  padding: 0.5rem;
  border-radius: 2px;
}
.skills-list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 1rem 0;
}
@media screen and (max-width: 960px) {
  .About-snippet {
    width: 100%;
  }
  .snippet-text h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .snippet-text p {
    font-size: 1.125rem;
    text-align: center;
  }
  .about-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .about-text .abt-p {
    font-size: 1.125rem;
    text-align: center;
  }
  .about-container h2 {
    text-align: center;
  }
  .skills-list > div {
    box-shadow: 0 0 10px 4px #087eb419;
    padding: 0.2rem;
    margin-right: 0.3125rem;
  }
  .skills-flex h3 {
    text-align: center;
  }
}
