.featured-container {
  padding: 2rem;
}
.featured-text h2 {
  font-size: 2.5rem;
  color: #0d1534;
  margin-bottom: 0.8rem;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin: 3.5rem 0;
  flex-wrap: wrap;
}
.project-writeup {
  width: 600px;
  padding: 0 1rem;
  margin-left: 1rem;
}

.project-snippet {
  width: 500px;
}
.project-heading {
  font-size: 24px;
  text-transform: uppercase;
  color: #0d1534;
  margin-bottom: 0.5rem;
}
.project-text {
  font-size: 1.25rem;
  color: #4b5058;
}
.projects-text {
  font-size: 1.5rem;

  color: #4b5058;
  margin-bottom: 1.5rem;
}

.demarcation {
  border-bottom: 1.5px dashed #05507336;
}
.visit-site {
  margin: 1.25rem 0;
}
.visit-link {
  box-shadow: 0 0 10px 1.5px #0550737a;
  padding: 0.7rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #0d1534;
  background-color: #087eb41a;
}
.visit-link:hover {
  background-color: #087eb4;
  color: white;
}

.language {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  margin-left: 0.875rem;
  justify-content: flex-start;
  gap: 30px;
}
.language li {
  padding-left: 1px;
  color: #4b5058;
  font-size: 0.875rem;
}

/* project page styling*/
.projects-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 10px;
  flex-wrap: wrap;
}
.flex-image {
  width: 350px;
  margin: 1rem 0;
}

.flex-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0d1534;
}
.flex-text {
  color: #4b5058;
}
.flex-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.language-2 {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  margin-left: 0.875rem;
  justify-content: flex-start;
  gap: 30px;
}
.language-2 li {
  padding-left: 1px;
  color: #4b5058;
  font-size: 0.875rem;
}
.styling {
  height: 2px;
  background-color: #087eb40e;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0.9rem 0;
}
.flex-effect {
  box-shadow: 0 0 10px 4px #087eb433;
  padding: 0.875rem;
  border-radius: 8px;
  /* width: 500px; */
}
.flex-effect:hover {
  box-shadow: 0 0 10px 4px #087eb461;
}
.slider {
  width: 100%;
  overflow: hidden;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
}

.slides {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  flex-direction: row;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
/* .slides::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
.slides::-webkit-scrollbar-thumb {
  background: rgb(208, 207, 207);
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
} */
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  /* margin-right: 50px; */
  border-radius: 10px;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a:focus {
  background: #000;
}

@media screen and (max-width: 960px) {
  .slides > div {
    width: 300px;

    margin-left: 20px;
  }
  .flex-text {
    color: #4b5058;
    width: 100%;
    text-align: center;
  }
  .flex-btn {
    justify-content: center;
  }
  .language-2 {
    justify-content: center;
  }
  .featured-text h2 {
    text-align: center;
  }

  .featured-text h2 {
    font-size: 1.7rem;
  }
  .projects-text {
    font-size: 1.125rem;
    text-align: center;
  }
  .project {
    gap: 2rem;
  }
  .project-writeup {
    margin-left: 0.5rem;
  }
  .project-heading {
    font-size: 1.3rem;
    text-align: center;
  }
}
