* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
svg {
  display: block;
  max-width: 100%;
}
body {
  background-color: white;
  line-height: 1.5;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: serif, sans-serif;
}
.pages {
  margin-top: 30%;
}
